@media (max-width: 1200px) {
    main {
        gap:20px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .main-countent {
        width: 100%;
        align-items:  center;

        margin-bottom: 15%;
    }

    main .main-countent .text, .techs {
        text-align: center;
    }

    main .main-countent .text p {
        width: 100%;
        font-size: 0.9em;
    }

    main .techs .cards-container, .main-countent .text p {
        margin-top: 32px;
    }

}

@media (max-width: 700px) {
    header {
        flex-direction: colunm;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    header h1 {
        font-size: 2em;
    }

    header nav {
        margin-top: 24px;
    }

    header nav a {
        font-size: 1em;
    }

    main .techs .cards-container .card {
        width: 60px;
        height: 60px;
    }

    main .main-countent .text h2, .main-countent .techs h2 {
        font-size: 1.8em;
    }

    main figure img {
        width: 250px;
        height: 250px;
    }

}